<div class="task-container">
    <div class="task" draggable="true">
        <h4><a href="">{{title}}</a></h4>
        <span class="remaining" prox="{{days_remaining}}">{{days_msg}}</span>
        <span class="description-short">
            {{short_description}}
        </span>
        <span class="points">{{points.total}}</span>
        <span class="chain-length">{{chain}}</span>
        <a href="#" class="actions">M</a>
        <div class="attachments">
            <img src="" alt="" />
        </div>
        <div class="motivation">{{motivation}}</div>
        <nav class="menu hidden">
            <a href="#">Edit</a>
            <a href="#">Change Due Date</a>
            <a href="#">Move to top of list</a>
            <a href="#">Change repeat days</a>
        </nav>
    </div>
    <div class="task-details hidden">
        <div class="sections">
            <a href="#" class="details selected">D</a>
            <a href="#" class="points">P</a>
            <a href="#" class="motivation">M</a>
            <a href="#" class="attachments">A</a>
        </div>
        <div class="section details selected">
            <h4>Task Details</h4>
            <div class="group due-date">
                <label>Due Date:</label>
                <span>{{due_date}}</span>
            </div>
            <div class="group">
                <label>Date Created:</label>
                <span>{{created}}</span>
            </div>
            <div class="group">
                <label>Last Modified:</label>
                <span>{{modified}}</span>
            </div>
            <div class="description group">
                <label>Description:</label>
                <div>{{description}}</div>
            </div>
        </div>
        <div class="section points">
            <h4>Points</h4>
            <div class="group">
                <label>Base Points:</label>
                <span>{{points.base}}</span>
            </div>
            <div class="group">
                <label>Motivation Points:</label>
                <span>{{points.motivation}}</span>
            </div>
            <div class="group">
                <label>Chain Points:</label>
                <span>{{points.chain}}</span>
            </div>
            <div class="group">
                <label>Total Points:</label>
                <span>{{points.total}}</span>
            </div>
        </div>
    </div>
</div>
