<div class="task" draggable="true">
    <h4><a href="">{{title}}</a></h4>
    <span class="remaining" prox="3">{{days_remaining}}</span>
    <span class="description-short">
        {{description}}
    </span>
    <span class="points">{{points}}</span>
    <span class="chain-length">{{chain}}</span>
    <a href="#" class="actions">M</a>
    <div class="attachments">
        <img src="" alt="" />
    </div>
    <div class="motivation">{{motivation}}</div>
    <nav class="menu hidden">
        <a href="#">Edit</a>
        <a href="#">Change Due Date</a>
        <a href="#">Move to top of list</a>
        <a href="#">Change repeat days</a>
    </nav>
</div>
